<!-- <app-tag-edit></app-tag-edit> -->
<hlm-scroll-area class="px-3 min-w-full h-full rounded-md border-border flex flex-col"
  [ngClass]="{'bg-white': mode == 'view', 'bg-orange-100': mode == 'edit'}">
  @for (m of memos; track m) {

  @if (mode == "edit") {
  <button (click)="selectMemo(m)" class=" cursor-pointer group flex flex-row px-1 gap-3 pt-4 text-left">
    <div class="rounded-lg bg-gray-300 w-[240px] h-[128px]">
      <img [src]="m.image_url" alt="alt" class="mx-auto object-contain h-full rounded-xl shadow">
    </div>
    <div class="block w-full">
      <p class="text-gray-600 group-hover:text-indigo-800 transition-colors">{{m.link}}</p>
      <h1 class="text-ellipsis overflow-hidden h-8 pt-2 text-gray-700 group-hover:text-gray-900 transition-colors">
        {{m.title}}</h1>
      <p class="text-gray-700 mt-2">
        @for (t of m.tags; track t) {
        <span class="bg-gray-100 border rounded-xl mx-1 py-1 px-3 text-sm text-bold cursor-pointer"
          hlmBadge>{{t}}</span>
        }
      </p>
    </div>
  </button>

  } @else {
  <a [href]="m.link" target="_blank" class=" cursor-pointer group flex flex-row px-1 gap-3 pt-4">
    <div class="rounded-lg bg-gray-300 w-[240px] h-[128px]">
      <img [src]="m.image_url" alt="alt" class="mx-auto object-contain h-full rounded-xl shadow">
    </div>
    <div class="block w-full">
      <p class="text-gray-700 group-hover:text-indigo-800 transition-colors">{{m.link}}</p>
      <h1 class="text-ellipsis overflow-hidden h-8 pt-2 text-gray-600 group-hover:text-gray-900 transition-colors">
        {{m.title}}</h1>
      <p class="text-gray-700 mt-2">
        @for (t of m.tags; track t) {
        <span class="bg-gray-100 border rounded-xl mx-1 py-1 px-3 text-sm text-bold cursor-pointer"
          hlmBadge>{{t}}</span>
        }
      </p>
    </div>
  </a>
  }
  }
</hlm-scroll-area>