<div class="flex flex-row gap-2">
  <form (submit)="addTagToList($event)" class="w-full">
    <input type="text" [formControl]="tag" class="
w-full py-3 outline-none
text-gray-700 transition-colors 
hover:border-indigo-400 hover:text-indigo-700
" rows="1" hlmInput placeholder="Type your message here." />
  </form>
  <button [ngClass]="
  {
    'bg-gray-100 cursor-default':assignedTags.length <= 0,
    'bg-indigo-200 hover:bg-indigo-400 text-indigo-700 hover:border-indigo-400 hover:text-gray-50 ':assignedTags.length > 0,
  }
  " class="
  w-24 py-1 px-2 rounded-lg
   border transition-colors
  " (click)="appendTags()">Tag</button>
</div>

<p class="text-gray-700 px-4 mt-2">
  <span>Tags: </span>
  @for (t of assignedTags; track t) {
  <span class="rounded-xl mx-1 py-1 px-3 text-sm text-bold " hlmBadge>{{t}}</span>
  }
</p>

@if(memo !== undefined) {
<div class="flex flex-row p-6 text-sm">
  <img [src]="memo.image_url" alt="alt" class="h-24 rounded shadow">
  <div class="px-4 block w-full">
    <p class="bg-white text-gray-400 group-hover:text-indigo-800 transition-colors">{{memo.link}}</p>
    <h1 class="text-ellipsis overflow-hidden h-20 pt-2 text-gray-600 group-hover:text-gray-900 transition-colors">
      {{memo.title}}</h1>
  </div>
</div>
}