<hr class="mb-2">
<form class="flex flex-col h-full px-1" (submit)="save($event)">
  <h1 class="mb-2">
    <label for="link-input">Input</label>
  </h1>
  <div class="flex flex-row">
    <textarea id="link-input" rows="2" placeholder="New link, note or document"
      class="resize-none w-full bg-inherit outline-none border-none rounded py-2 overflow-y-scroll"
      [formControl]="msg"> </textarea>

    @if(isSaving) {
    <div class="loader"></div>
    }@else {
    <button button class="text-white bg-primary-1 px-4 py-2 rounded hover:bg-primary-2 transition-colors"> <span
        class="text-white">Save</span>
    </button>
    }

  </div>
  <!-- <div div class="flex flex-row justify-between py-2">
    <div></div> -->
  <!-- </div> -->
</form>