<div class="flex flex-row xl:px-48 px-0 py-12 w-screen h-screen">
  <div class="flex flex-col w-1/5 rounded-lg px-4 gap-8 border-r">
    <app-bookmarks></app-bookmarks>
    <hr>
    <app-tags-view (select)="handleTagSelect($event)"></app-tags-view>
  </div>

  <div class="flex flex-col h-full w-3/5">
    <!-- begin: toolbar -->
    <!-- <div class="flex flex-row items-center justify-between px-6"> -->
    <!-- <h1 class="font-bold text-xl text-primary-1">Memos</h1> -->
    <!-- <label class="flex items-center py-4" hlmLabel>
        Mode
        <ng-toggle (valueChange)="detechModeChange($event)" [values]="{
          'unchecked': 'view', 'checked': 'edit'
          }" [value]="mode" [color]="{
        checked: '#e56b6f',
        unchecked: '#6d597a'
      }" [width]="60" [labels]="
      {'unchecked': 'View' , 'checked' : 'Edit' }
      " class="ml-2"></ng-toggle>
      </label> -->
    <!-- </div> -->
    <!-- end: toolbar -->


    <div class="flex flex-col justify-between px-6 h-full overflow-y-hidden">
      <div class="overflow-hidden">
        <app-memo-view [selectedTags]="selectedTags"></app-memo-view>
      </div>
      <br>
      <div class="">
        <app-memo-input></app-memo-input>
      </div>
    </div>
  </div>

  <div class="flex flex-col w-1/5 pr-4">
    <app-memo-edit class="h-3/5"></app-memo-edit>
  </div>

</div>